@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} }	
.dropbtn {
    background-color: #036666;
    color: white;
    padding: 35px;
    font-size: 43px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #005440;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #005440;
    min-width: 300px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-content a {
    color: white;
    padding: 30px 30px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #004535;}

.show {display: block;}

	body {
		background: #2c3429 url(fon_index.png);
		color: #fff;
		background-attachment: fixed;
	}

body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #2c3429;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 37px;
  text-decoration: 30px;
  font-size: 37px;
}

.navbar a:hover {
  background: #1e291a;
  color: f2f2f2;
}

.main {
  padding: 280px;
  margin-bottom: 30px;
  width: 600px;
}

.main_content
{
	width: 80% !important;
	margin: 0 auto !important;
}
